

.accountSetting-input{
  border-radius: 20px;
  width: 30%;
  height: 50px;
  margin-bottom: 10px;
  margin-right: 80px;
  
   
}

.accountSetting-label{
  color: white;
  padding:5px ;

}

.accountSetting-h1{
  color: white;
}


.accountSetting-save-button button{
 background-color: #1C9A37;
 color: white;
 width: 24%;
 height: 44px;
 border-radius: 20px;
 margin-bottom: 7px;
 font-size: 1vw;

}

.accountSetting-button button{
   /* background-color: red; */
 color: white;
width: 12%;
 height: 44px;
 border-radius: 20px;
 margin-bottom: 200px;
 font-size: 1vw;
}


.accountSetting-delete {
 background-color: red;
}

.accountSetting-signOut{
  background-color: red;
}

@media all and (max-width: 1487px) {
    .accountSetting-button button {
       
        font-size: 12px;
    }
    .accountSetting-save-button button{
      font-size: 17px;
    }

}