
.accountSetting-firstName{
  margin-left: 5%;
  
}


.accountSetting-lastName{
margin-left: 5%;
}


.accountSetting-password{
margin-left: 5%;
}




.accountSetting-username{
margin-left: 5%;
}

/* .accountSetting-input{
  width: 70%;
  margin-left: 2%;
} */

.accountSetting-container{
  
}