#divHead {
    display: flex;
    justify-content: space-around;
    background-color: #383838;
}

#divHead > button {
    padding: 1px 20px;
    text-align: center;
    color: white;
    font-size: 15px;
}

#h1{
    color: #54FFAD;
}