Footer{
    margin-top: 120px;
}



#additionalInfo {
    display: flex;
    justify-content: space-evenly;
    color: white !important;
   
}
#additionalInfo button{
    color: white !important;
}

.infoLists{
    
    
    
}
.infoLists2{
    
}
.infoLists3{
    
}

.footer-title-header{
    font-weight: bold;
    font-size:x-large
}


#h1Foot{
    
    font-weight: bold;
    color: #54FFAD;
    
}

.Social-media img{
    width: 40px;
    padding: 2px;
}

hr{
    border-top: 3px solid #8B8B8B;
    margin: 15px 40px 50px;
}

#divFoot2 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
   
}

