.overview-image-preview {
  max-height: 400px;
}

.containerUnpublished{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 200px;
  
}

#unpublishedWarning{
  position: relative;
  box-sizing: border-box;
  width: 1060px;
  height: 380px;
  background: #3e3e3e;
  border: 3px solid #8b8b8b;
  border-radius: 15px;
}

.spacing{
  margin: 50px;
}


/* **************Published Campaign**************** */
.overview-text{
  margin-top: 80px;

}
.campaign-overview-main-container{
  text-align: center;
  /* border: 5px solid red; */
  width: 50%;
  
}

.campaign-overview-stats{
  /* background-color: aqua; */
 text-align: left;
 margin-top: 30px;
 /* padding-bottom: 200px; */
}

.campaign-overview-text-size{
  margin-bottom: 10px;
  
}

.campaign-overview-text-size h3{
  font-weight: bold;
}

.test55{
 
  /* border: 5px solid white; */
   text-align: left;
 margin-top: 30px;
}

.Expected-delivery{
  float: right;
}
.overview-reward-summary-srction{
  border: 1px solid white;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 10px;
}
.reward-description{
  margin-bottom: 10px;
}

.reward-line{
  margin-top: 0;
}

.link-line{
  margin: 5px;
}