.content-editor-container-container {
  position: sticky;
  top: 0;
  left: 0;
  /* background-color: rgb(0, 0, 0, 0.5); */
  width: 100vw;
  height: 0px;
  z-index: 1;
}

.content-editor-container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
}

.content-editor-background {
  margin: 0 auto;
  background-color: #383838;
  border-radius: 20px;
  border: #d9d9d9 1px solid;
  padding: 20px;
  width: 60%;
}

.video-preview {
  margin: 2em auto;
}

.image-limiter {
  max-height: 60vh;
}

#content-editor-title {
  text-align: center;
  margin-bottom: 1em;
}

#content-editor-image-input {
  margin: auto;
  height: auto;
  border-radius: inherit;
}
