
#containerRewards{
  position: relative;
  width: 1500;
   margin-bottom: 400px;
}

#rewardTitle{
  margin: 40px;
}

#edit-reward-reward {
  position: relative;
  border: 1px solid white;
  border-radius: 15px;
  width: 930px;
  margin: 5px 350px;
}

.rewardSpacing{
  margin: 20px;
}

#editButton{
  position:absolute;
  top:0;
  right:0;
  border-radius: 15px;
  width: 100px;
}

.buttonRewards{
 
 
  /* right: 400px; */
  /* box-sizing: border-box; */
  border-radius: 20px; 
  width: 200px;
  /* background-color: #1C9A37; */
  color: white;
 
  
  /* margin: 0; */
}


.test5{
  /* background-color: aquamarine; */
  width: 80%;
  align-items: flex-end;
  
  gap: 5px;
}



 #createNew{

   top: 10px;
  background-color: #248383;
  /* top: 10px;
  background-color: #1C9A37; */
} 

#saveEditRewards{
     top: 10px;
  background-color: #1C9A37;
}

/* #saveEditRewards{
  top: 50px;
} */

#cancel-button{

text-align: center;
} 