.edit-content-content {
  position: relative;
  width: 65vw;
  /* flex-grow: 2; */
  margin: 10px 0px;
  /* border: 1px solid white;
  border-radius: 15px; */
  text-align: center;
}

.insertButton {
  border-radius: 15px;
  padding: 3px 5em;
  color: #646464;
  background-color: #d9d9d9;
  border-width: 0px;
  margin: 0 auto;
  font-weight: bold;
}

.content-background {
  border-radius: 15px;
  background-color: #515151;
  /* padding: 20px; */
  padding: 5px 0px;
}
