#containerRewards {
  /* position: relative; */
  width: 100%;
  /* margin-bottom: 400px; */
}

.campaign-edit-title {
  color: white;
  margin: 40px;
  text-align: center;
}

.rewardSpacing {
  margin: 20px;
}

.editButton {
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 15px;
  width: 100px;
  color: #646464;
  background-color: #d9d9d9;
  border-width: 0px;
  font-weight: bold;
}

.buttonRewards {
  /* right: 400px; */
  /* box-sizing: border-box; */
  border-radius: 20px;
  width: 200px;
  /* background-color: #1C9A37; */
  color: white;

  /* margin: 0; */
}

.edit-subject {
  /* background-color: aquamarine; */
  width: 75vw;
  /* flex-grow: 2; */

  align-items: flex-end;

  /* gap: 5px; */
}

.edit-subject-item {
  position: relative;
  border: 1px solid white;
  border-radius: 15px;
  width: 65vw;
  /* flex-grow: 2; */
  margin: 10px;
}

.edit-buttons {
  align-items: flex-start;
}

#createNew {
  top: 10px;
  background-color: #248383;
  /* top: 10px;
  background-color: #1C9A37; */
}

#saveEditRewards {
  top: 10px;
  background-color: #1c9a37;
}

/* #saveEditRewards{
  top: 50px;
} */

#cancel-button {
  text-align: center;
}
