a {
  color: white;
}

a:hover {
  color: #54ffad;
}

#settings:hover {
  color: #54ffad !important;
}
#divHead {
  display: flex;
  justify-content: space-around;
  background-color: #383838;
  margin: 0;
  padding: 0;
}

#divHead :link {
  padding: 1px 20px;
  font-size: 15px;
  text-decoration: none;
}
:link {
  margin-top: 20px;
}

#h1Head {
  color: #54ffad;
  margin-top: 0;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.justify-left {
  justify-content: left;
}

.justify-center {
  justify-content: center;
}

.justify-right {
  justify-content: right;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-between {
  justify-content: space-between;
}

.align-left {
  align-items: left;
}

.align-center {
  align-items: center;
}

.align-right {
  align-items: right;
}

.white {
  color: white;
}
/* .white:hover{
  color: #54ffad;
} */

.whitee {
  color: white;
}
.whitee:hover {
  color: #54ffad;
}

.nav-link {
  color: white;
}

.black {
  color: black;
}

.bold {
  font-weight: bold;
}

.green-bg {
  background-color: #1c9a37;
}

.gray-bg {
  background-color: #797979;
}

.red-bg {
  background-color: #de3838;
}

.blue-bg {
  background-color: #5bb1e1;
}
